<footer>
  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">
        <img
          src="../imagenes/whatsapp-logo-11.png"
          width="60"
        />
        11-5492-1174
      </h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">
          Somos distribuidores de una amplia gama de electrodomestivos, muebles y articulos para el hogar
          Ponete en contacto con nosotros. Hacemos envios a todo el GBA y CABA.
        </p>
       <a href="https://wa.me/5491154921774"> <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" >
          <button 
            type="button"
            class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
          >
            Whatsapp
          </button>
        </a>
        </div>
      </div>
    </div>
  </div>

</footer>
