<%- include('./partials/head') %>

  <body>

    <%- include('./partials/header') %>

   

        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
             <h1>Electrodomesticos   <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Elegir categoria</button></h1>
            
            </div>
          </div>
        </section>
       
 


          <!-- Sidebar -->
          <nav
               id="sidebarMenu"
               class="collapse d-lg-block sidebar collapse bg-white"
               >
            <div class="position-sticky">
              <div class="list-group list-group-flush mx-3 mt-4">
                <a
                   href="#"
                   class="list-group-item list-group-item-action py-2 ripple"
                   aria-current="true"
                   >
                  <i class="fas fa-tachometer-alt fa-fw me-3"></i
                    ><span>Main dashboard</span>
                </a>
                <a
                   href="#"
                   class="list-group-item list-group-item-action py-2 ripple active"
                   >
                  <i class="fas fa-chart-area fa-fw me-3"></i
                    ><span>Webiste traffic</span>
                </a>
                <a
                   href="#"
                   class="list-group-item list-group-item-action py-2 ripple"
                   ><i class="fas fa-lock fa-fw me-3"></i><span>Password</span></a
                  >
                <a
                   href="#"
                   class="list-group-item list-group-item-action py-2 ripple"
                   ><i class="fas fa-chart-line fa-fw me-3"></i
                  ><span>Analytics</span></a
                  >
                <a
                   href="#"
                   class="list-group-item list-group-item-action py-2 ripple"
                   >
                  <i class="fas fa-chart-pie fa-fw me-3"></i><span>SEO</span>
                </a>
                <a
                   href="#"
                   class="list-group-item list-group-item-action py-2 ripple"
                   ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Orders</span></a
                  >
                <a
                   href="#"
                   class="list-group-item list-group-item-action py-2 ripple"
                   ><i class="fas fa-globe fa-fw me-3"></i
                  ><span>International</span></a
                  >
                <a
                   href="#"
                   class="list-group-item list-group-item-action py-2 ripple"
                   ><i class="fas fa-building fa-fw me-3"></i
                  ><span>Partners</span></a
                  >
                <a
                   href="#"
                   class="list-group-item list-group-item-action py-2 ripple"
                   ><i class="fas fa-calendar fa-fw me-3"></i
                  ><span>Calendar</span></a
                  >
                <a
                   href="#"
                   class="list-group-item list-group-item-action py-2 ripple"
                   ><i class="fas fa-users fa-fw me-3"></i><span>Users</span></a
                  >
                <a
                   href="#"
                   class="list-group-item list-group-item-action py-2 ripple"
                   ><i class="fas fa-money-bill fa-fw me-3"></i><span>Sales</span></a
                  >
              </div>
            </div>
          </nav>
          <!-- Sidebar -->
        
          <!-- Navbar -->

          <!-- Navbar -->
  






























        
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Colored with scrolling</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ol class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Subheading</div>
                  Content for list item
                </div>
                <span class="badge bg-primary rounded-pill">14</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Subheading</div>
                  Content for list item
                </div>
                <span class="badge bg-primary rounded-pill">14</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Subheading</div>
                  Content for list item
                </div>
                <span class="badge bg-primary rounded-pill">14</span>
              </li>
            </ol>
          </div>
        </div>
  
    
        <main style="margin-top: 58px">
          <div class="container pt-4">
            <h1>Hola</h1>
         <!-- Section-->
         <section class="py-5 ">
          <div class="container px-4 px-lg-5 mt-5">
              <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                 
                <% for (let i=0; i < product.length; i++) { %>
                <div class="col mb-5">
                      <div class="card h-100">
                          <!-- Product image-->
                          <img class="card-img-top"  src="<%- product[i].imagen %>" alt="..." />
                          <!-- Product details-->
                          <div class="card-body p-4">
                              <div class="text-center">
                                  <!-- Product name-->
                                  <h5 class="fw-bolder">Fancy Product</h5>
                                  <!-- Product price-->
                                  $40.00 - $80.00
                              </div>
                          </div>
                          <!-- Product actions-->
                          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                          </div>
                      </div>
                  </div>
                  <% } %>

              </div>
          </div>
      </section>
    </div>
  </main>

        <%- include('./partials/footer') %>

          



      <script src="/script/bootstrap.bundle.min.js"></script>


  </body>

  </html>