<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>

    <main>

        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <img src="https://www.glemgas.com/backend/content_manager/img_upload/img_banner/190419164650_gbi_ambiente_forno_linea_forni.jpg">
                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>Hornos y cocinas</h1>
                            <p>Conoce toda nuestra linea de coccion y calefaccion</p>
                            <p><a class="btn btn-lg btn-primary" href="/productos/electrodomesticos/cocinas">Ingresa</a></p>
                        </div>
                    </div>
                    
                </div>
                <div class="carousel-item">
                    <img src="https://1d3uzn13rscu8fxd41coqo51-wpengine.netdna-ssl.com/wp-content/uploads/2015/08/living-room-690174_1280.jpg">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#777" />
                    </svg>

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Muebles para todos los ambientes de tu casa</h1>
                            <p>Contamos con amplio stock y modelos disponibles</p>
                            <p><a class="btn btn-lg btn-primary" href="/productos/muebles">Ingresa</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#777" />
                    </svg>
                    <img src="https://1d3uzn13rscu8fxd41coqo51-wpengine.netdna-ssl.com/wp-content/uploads/2015/08/banner-electrodomesticos.jpg">
                    <div class="container">
                        <div class="carousel-caption text-start">

                            <h1>Amplia gama de Electrodomesticos</h1>
                            <p>Somos distribuidores de las mejores marcas de Electrodomesticos</p>
                            <p><a class="btn btn-lg btn-primary" href="/productos/electrodomesticos">Ingresa</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <!-- Marketing messaging and featurettes
  ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <img src="https://previews.123rf.com/images/vladru/vladru1210/vladru121000001/15712888-consumer-electronics-nevera-lavadora-y-cocina-el%C3%A9ctrica-hecho-en-3d.jpg?fj=1"
                        class="bd-placeholder-img rounded-circle" width="140" height="140"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text>

                    <h2>Electrodomesticos</h2>
                    <p>Encontra el electrodomestico que estas buscando. Lavado, Climatizacion, Pequeños hogar, Pequeños
                        cocina</p>
                    <p><a class="btn btn-secondary" href="/productos/electrodomesticos">Ingresa &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="https://media.istockphoto.com/photos/mobile-devices-picture-id178716575?k=20&m=178716575&s=612x612&w=0&h=Cpbs-ivT4RGz--xBlXFrHhTTPX5kaEcRd4FK4koduWM="
                        class="bd-placeholder-img rounded-circle" width="140" height="140"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text>

                    <h2>Electronica</h2>
                    <p>Encontra una gran variedad de dispositivos electronicos. Televisores, Audio, Tablets, Notebooks,
                        y mucho mas</p>
                    <p><a class="btn btn-secondary" href="/productos/electronica">Ingresa &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="//cdn.shopify.com/s/files/1/0909/7932/products/mueble-tv-cajones-3a_grande.jpg?v=1524760398"
                        class="bd-placeholder-img rounded-circle" width="140" height="140"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text>

                    <h2>Muebles</h2>
                    <p>Encontra los mas modernos y practicos muebles para tu hogar. Despenseros, Placards, Modulares
                        Rack, Camas, colchones y Juegos de Cocina / Comedor</p>
                    <p><a class="btn btn-secondary" href="/productos/muebles">Ingresa &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Smart TV. <span class="text-muted">Muchas marcas y modelos</span>
                    </h2>
                    <p class="lead">Podes encontrar el Smart Tv que estas buscando. Noblex, Philco, LG, BGH y muchos mas
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/884/018/products/130741-tv_11-2153daa94f4bce91ff16276651902969-480-0.png"
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Muebles. <span class="text-muted">Conoce nuestra variedad en muebles
                            y sillas</span></h2>
                    <p class="lead">Contamos con una gran variedad de muebles, mesas y mucho mas...</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="//cdn.shopify.com/s/files/1/0909/7932/products/mueble-tv-cajones-3a_grande.jpg?v=1524760398"
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Colchones y Sommiers. <span class="text-muted"></span></h2>
                    <p class="lead">Conoce nuestro catalogo de colchoes, sommiers de una y de dos plazas.</p>
                </div>
                <div class="col-md-5">
                    <img src="https://cdn.shopify.com/s/files/1/0596/9559/5675/products/36078_2_1200x.jpg?v=1634922493"
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>

                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->


        <!-- FOOTER -->
        <%- include('./partials/footer') %>
        

    </main>


    <script src="/script/bootstrap.bundle.min.js"></script>


</body>

</html>