<%- include('./partials/head') %>


  <body>

    <%- include('./partials/header') %>

    <div class="card-group">
      <div class="card">
       
        <a href="/productos/electrodomesticos"><img class="card-img-top" src="https://previews.123rf.com/images/vladru/vladru1210/vladru121000001/15712888-consumer-electronics-nevera-lavadora-y-cocina-el%C3%A9ctrica-hecho-en-3d.jpg?fj=1l"></a>
        <div class="card-body">
          <h5 class="card-title">Electrocomesticos</h5>
          <p class="card-text">Encontra el electrodomestico que estas buscando. Lavado, Climatizacion, Pequeños hogar, Pequeños
            cocina</p>
        </div>

      </div>
      <div class="card">
        <a href="/productos/electronica"><img class="card-img-top" src="https://media.istockphoto.com/photos/mobile-devices-picture-id178716575?k=20&m=178716575&s=612x612&w=0&h=Cpbs-ivT4RGz--xBlXFrHhTTPX5kaEcRd4FK4koduWM="></a>
        <div class="card-body">
          <h5 class="card-title">Electronica</h5>
          <p class="card-text">Encontra una gran variedad de dispositivos electronicos. Televisores, Audio, Tablets, Notebooks,
            y mucho mas</p>
        </div>

      </div>
      <div class="card">
        <a href="/productos/muebles"><img class="card-img-top" src="//cdn.shopify.com/s/files/1/0909/7932/products/mueble-tv-cajones-3a_grande.jpg?v=1524760398"></a>
        <div class="card-body">
          <h5 class="card-title">Muebles</h5>
          <p class="card-text">Encontra los mas modernos y practicos muebles para tu hogar. Despenseros, Placards, Modulares
            Rack, Camas, colchones y Juegos de Cocina / Comedor</p>
        </div>
 
      </div>
    </div>

  </body>

  <%- include('./partials/footer') %>