<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

    <div class="b-example-divider"></div>

    <div class="bg-dark text-secondary px-4 py-5 text-center">
      <div class="py-5">

        <p class="fs-5 mb-4">
          Somos una empresa distribuidora de articulos para el hogar, electrodomesticos, muebles y mucho mas. Contamos con una flota propia de vehiculos para el despacho seguro de todos nuestros productos. Hacemos envios a domicilio en todo el GBA y CABA.
          
        </p>
        <h2 class="display-5 fw-bold text-white">Whatsapp</h2>
        <h1 class="display-5 fw-bold text-white">
          <img src="/imagenes/whatsapp-logo-11.png" width="60" />
          11-5492-1174
        </h1>

      </div>
    </div>

  </body>
  <script src="/script/bootstrap.bundle.min.js"></script>